@page
@model RazorPagesMovie.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Movies</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Movies.ID" />
            <div class="form-group">
                <label asp-for="Movies.Title" class="control-label"></label>
                <input asp-for="Movies.Title" class="form-control" />
                <span asp-validation-for="Movies.Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Movies.ReleaseDate" class="control-label"></label>
                <input asp-for="Movies.ReleaseDate" class="form-control" />
                <span asp-validation-for="Movies.ReleaseDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Movies.Genre" class="control-label"></label>
                <input asp-for="Movies.Genre" class="form-control" />
                <span asp-validation-for="Movies.Genre" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Movies.Price" class="control-label"></label>
                <input asp-for="Movies.Price" class="form-control" />
                <span asp-validation-for="Movies.Price" class="text-danger"></span>
            </div>
            <div cclass="from-group">
                <label asp-for="Movies.Rating" class="control-label"></label>
                <input asp-for="Movies.Rating" class="form-control">
                <span asp-for="Movies.Rating" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
